*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}
body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4169e1;
}
.container
{
    position: relative;
    /* max-width: 500px; */
    width: 100%;
    background: #fffafa;
    margin: 0 25px;
    padding: 0.75em 1.25em;
    border-radius: 0.4em;
}
.container .skill-box
{
    width: 100%;
    margin: 20px 0;
}
.container .skill-box .title
{
    font-size: 1em;
    font-weight: 600;
    display: block;
    color: #333;
}
.container .skill-box .skill-bar
{
    width: 100%;
    height: 0.5em;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.15);
    margin-top: 0.6em;
}
.skill-bar .skill-per
{
    position: relative;
    display: block;
    width: 95%;
    height: 100%;
    border-radius: 7px;
    background: #4169e1;
    animation: progress 0.5s ease-in-out forwards;
    opacity: 0;
}
.skill-per.html
{
    width: 95%;
    animation-delay: 0.1s;
}
.skill-per.css
{
    width: 85%;
    animation-delay: 0.2s;
}
.skill-per.bt
{
    width: 85%;
    animation-delay: 0.3s;
}
.skill-per.c
{
    width: 80%;
    animation-delay: 0.4s;
}
.skill-per.cpp
{
    width: 85%;
    animation-delay: 0.5s;
}
.skill-per.ds
{
    width: 50%;
    animation-delay: 0.6s;
}
.skill-per.js
{
    width: 15%;
    animation-delay: 0.7s;
}
.skill-per.a
{
    width: 15%;
    animation-delay: 0.8s;
}
@keyframes progress {
    0%
    {
        width: 0;
        opacity: 1;
    }
    100%
    {
        opacity: 1;
    }
}
.container .skill-box .skill-bar .tooltip
{
    position: absolute;
    top: -2.5em;
    right: -1.7em;
    background: #4169e1;
    padding: 3px 6px;
    border-radius: 7px;
    color: #adff2f;
    font-size: 0.75em;
    font-weight: 500;
    z-index: 1;
}
.tooltip::before
{
    content: '';
    position: absolute;
    left: 50%;
    top: 1.4em;
    width: 0.6em;
    height: 0.6em;
    z-index: -1;
    background: #4169e1;
    transform: translateX(-50%) rotate(45deg);
}