@font-face {
    font-family: "Coolvetica";
    src: url("coolvetica/coolvetica\ condensed\ rg.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coolvetica';
    letter-spacing: 2px;
    word-spacing: 2.5px;
    font-size: 103%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 101vh;
    background: #444;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.container .progress {
    position: relative;
    width: 239px;
    height: 239px;
    border-radius: 50%;
    color: #f5f5f5;
    background: #333 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.container .progress h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
}

.container .progress h3 span {
    font-weight: 400;
    font-size: 0.77em;
}

.container .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}

.container .progress::before {
    content: ' ';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.container .progress::after {
    content: ' ';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #292929;
}

.container .progress::before {
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn )));
}

.container .progress.less::before {
    background: #333333;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn )));
}

.container .progress h4 .tac {
    position: absolute;
    left: 37%;
}
