body {
    background-color: gray;
}

.text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 700;
    font-size: 8em;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 15px 5px rgba(16, 16, 16, 0.4),
    1px 20px 10px rgba(16, 16, 16, 0.2),
    1px 25px 20px rgba(16, 16, 16, 0.2),
    1px 30px 40px rgba(16, 16, 16, 0.4);
}
